header {
    height: 100vh;
    /* padding-top: 7rem; */
    overflow: hidden;
}

/* .header__container {
    text-align: center;
    height: 100%;
    position: relative;
} */
.header__container {
    margin: 20rem 12rem;
    background: #80808000;
    transition: var(--transition);
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
    transition: var(--transition);
}
/*  =========== CTA ========== */
.cta {
    margin-top: 1.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

/*  =========== SOCIALS ========== */
.header__socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position:absolute;
    left: 0;
    bottom: 3rem;
}

.header__socials::after {
    content: "";
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}

/*  =========== ME ========== */
.me img {
    position: absolute;
    height: 100%;
    z-index: -1;
    filter: brightness(50%);
}
/* .me {
    background: linear-gradient(var(--color-primary), transparent);
    width: 22rem;
    height: 30rem;
    position: absolute;
    left: calc(50% - 11rem);
    margin-top: 4rem;
    border-radius:  12rem 12rem 0 0;
} */

/*  =========== SCROLL DOWN ========== */
.scroll__down {
    position: absolute;
    right: -2.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 200;
    font-size: 0.9rem;
}

/* ============= MEDIA QUERIES (FOR MEDIUM DEVICES) */

@media screen and (max-width:1024px) {

    .header__container {
        padding: 2rem 1rem;
    }
    .header__container h1{
        font-size: 1.8rem;
    }
    .header__container h5{
        font-size: 0.7rem;
    }

}

/* ============= MEDIA QUERIES (FOR SMALL DEVICES) */

@media screen and (max-width:600px) {

    .header__container {
        padding: 0rem 1rem;
        margin: 10rem 5rem 0;
    }
    .header__container h1{
        font-size: 1rem;
    }
    .header__container h5{
        font-size: 0.7rem;
    }

    .header__socials,
    .scroll__down {
        display: none;
    }
}

